h2{
    text-align: center;
}

.results{
    display: flex;
}

.robot{
    margin-left: auto;
}

.buttons{
    text-align: center;
}

.human-score{
    vertical-align: middle;
}

.robot-score{
    text-align: center;
}

.round-para{
    text-align: center;
}