h2{
    text-align: center;
}

.results{
    display: flex;
}

.robot{
    margin-left: auto;
}

.buttons{
    text-align: center;
}

.human-score{
    vertical-align: middle;
}

.robot-score{
    text-align: center;
}

.round-para{
    text-align: center;
}

body { 
    background: url(back1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    background-color: white;
    opacity: 0.7;
}